<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>why here? heh heh!</title>
  </head>
  <body>
    <center>
      <span>if ur here just donated me</span>
      <br /><br />
      <img src="/1209401046979/100" width="40%">
    </center>
  </body>

  <script src="js/pwa.js"></script>
</html>